body {
    background-image: url('men.jpg');
    width: 100%;
    height: 100%;
  }
  
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    color: aliceblue;
    font-size: 20px;
  }
  
  .survey-form{ 
    background-color: rgba(0, 0, 0, 0.7);
    padding: 26px 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .input-label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-block-start: 15px;
  }
  .input-label input{
    padding: 0;
    width: 100%;
    margin-block-start: 10px;
  }

  .input-radio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-block-start: 15px;
  }
  .input-radio input{
    padding: 0;
    width: 20%;
    margin-block-start: 15px;
  }

  .title-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-block-start: 25px;
  }

  select {
    padding: 0;
    width: 100%;
    margin-block-start: 15px;

  }

  .checkbox {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-block-start: 25px;

  }

  .checkbox input{

    padding: 0;
    width: 20%;

  }

  textarea {

    padding: 0;
    width: 100%;

  }

  button {

    margin-top: 20px;

  }